body{
    background-color: black;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Login Page */

.header{
    display: flex;
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 58px;
}

.login-container{
    height: 365px;
    width: 327px;
    left: 24px;
    top: 132px;
    border-radius: 10px;
    background: #161D2F;
    display: block;
    margin: auto;
    padding: 24px;
}

.login{
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.5px;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.email-text{
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 19px;
    font-family: 'Outfit', sans-serif;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin-left: 10px;
    padding-bottom: 17px;
    border: none;
    background: transparent;
    border-bottom: 1px solid #5A698F;
    margin-bottom: 24px;
    width: 270px;
}

.login-btn{
    margin-top: 40px;
    margin-left: 5px;
    height: 48px;
    width: 277px;
    border-radius: 6px;
    background: #FC4747;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 19px;
    font-family: 'Outfit', sans-serif;
    text-align: center;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.qestion{
    margin-top: 24px;
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 19px;
    color: #FFFFFF;
    text-align: center;
}

.spanBtn{
    color: #FC4747;
    cursor: pointer;
    margin-left: 10px;
}


/* Sign in */

.sign-in-container{
    height: 420px;
    width: 327px;
    left: 24px;
    top: 132px;
    border-radius: 10px;
    background: #161D2F;
    display: block;
    margin: auto;
    padding: 24px;
}

/* home page */

.header-bar{
    display: flex;
    justify-content: space-between;
    height: 56px;
    width: 100%;
    background: #161D2F;
    align-items: center;
    padding: 0 16px 0 16px;
}

.header-img{
    height: 20px;
    width: 25px;
}

.buttons img{
    height: 16px;
    width: 16px;
    margin: 9px;
    cursor: pointer;
}

.avatar{
    height: 24px;
    width: 24px;
}

.buttons img:hover{
    filter: brightness(0) invert(1);
}

.sear-bar{
    display: flex;
    align-items: center;
}

.searchIcon{
    height: 20px;
    width: 20px;
    margin: 19px;
    cursor: pointer;
}

.search-input{
    height: 20px;
    width: 214px;
    background: transparent;
    border: none;
    color: rgba(255, 255, 255, 1);
    
}

.carusell-btn{
    display: flex;
    justify-content: space-between;
    transform: translateY(-100px);
    
}
.prev-btn{
    height: 50px;
    width: 50px;
    background-color: rgba(245, 245, 220, 0.345);
    border-radius: 50%;
    cursor: pointer;
    border: none;
    margin-left: -20px;
}

.next-btn{
    height: 50px;
    width: 50px;
    background-color: rgba(245, 245, 220, 0.345);
    border-radius: 50%;
    cursor: pointer;
    border: none;
    margin-right: -20px;
}

.carusell{
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carusell-header{
    font-family: 'Outfit' , sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    margin: 16px;
}

.carussel-container{
    display: flex;
    transition: transform 0.3s ease-in-out;
    width: 100%;
}

.carusell-card{
    height: 140px;
    width: 100%;
    border-radius: 8px;
    margin: 0 10px 0 10px;
}

.caruserll-img{
    height: 140px;
    width: 240px;
    border-radius: 8px;
    object-fit: cover;
}

.carusell-text{
    margin-top: -50px;
    margin-left: 20px;
    height: 25px;
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.carusll-name{
    margin-top: -5px;
    margin-left: 20px;
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
    color: #FFFFFF;
}

.year{
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.75;
}

.carusel-img-icon{
    height: 12px;
    width: 12px;
    left: 0px;
    top: 2px;
    border-radius: 0px;
    margin: 0 16px 0 16px;
}

.category-text{
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.75;
}

.flag{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #10141e8f;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(180px, -140px);
}

.card-content{
    width: 164px;
    padding: 16px;
}

.card-container-img{
    height: 110px;
    width: 164px;
    border-radius: 8px;
}

.card-text{
    margin-left: 5px;
    height: 25px;
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-name{
    margin-left: 5px;
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
    color: #FFFFFF;
}

.card-content{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}